.attribution { font-size: 11px; text-align: center; }
.attribution {
    position: fixed;  
    left: 10px;  
    bottom: 5px;  
    right: 10px;   
}
.attribution a { color: hsl(228, 45%, 44%); }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
}

body {
    width: 100%;
    height: 100%;
}

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-around {
    justify-content: space-around;
}

.flex-row {
    flex-direction: row;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

header {
    height: 6.7rem;
    padding: 0rem 1.4rem 0.4rem 1.8rem;
    /* padding-bottom: 8rem;
    padding-left: 14rem;
    padding-right: 14rem; */
}

.hamburger-menu {
    padding-bottom: 0.4rem;
    padding-top: 0.4rem;
    padding-right: 0.4rem;
    padding-left: 0.3rem;
}

#hamburger-menu-checkbox {
    position: absolute;
    opacity: 0;
}

.hamburger-menu-label {
    cursor: pointer;
    position: relative;

    width: 1.6rem;
    height: 0.3rem;
}

.line1, .line2, .line3 {
    margin: 0.3rem;
    width: 1.6rem;
    height: 0.3rem;
    background-color: black;
    border-radius: 5.0rem;
    transition: 0.25s ease-in-out;

    position: relative;
}

#hamburger-menu-checkbox:checked + label .line1 {
    transform: rotate(-45deg);
    top: 8px;
}

#hamburger-menu-checkbox:checked + label .line2 {
    opacity: 0;
}

#hamburger-menu-checkbox:checked + label .line3 {
    top: -4px;
    transform: rotate(45deg);
}

.side-menu {
    display: none;
    position: absolute;
    background-color: white;
    width: 25.5rem;
    height: 100%;
    z-index: 1;
    border-right: 1px solid black;

    transition: 0.5s ease-in-out;
}

.side-menu ul {
    margin-top: 10.0rem;
    margin-right: 8.0rem;
    gap: 2rem;
}

.side-menu a {
    color: black;
    font-size: 2rem;
    font-weight: 700;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}


.logo {
    padding-left: 1.0rem;
    /* background-color: red; */
    /* margin-left: 14.5%; */
}

.header-icons {
    width: 6.8rem;
    height: auto;
    margin-right: 1.0rem;
}

.user-avatar {
    width: 2.5rem;
}

.user-avatar:hover {
    /* border = inside | outline = outside */
    outline: 2px solid orange; 
    border-radius: 5.0rem;
}

.item-quantity {
    display: none;

    width: 2.0rem;
    height: 1.2rem;
    border-radius: 1.0rem;
    right: 6.5rem;
    top: 1.7rem;
    background-color: orange;
    color: white;
}

.shopping-lightbox {
    padding-top: 0.4rem;
    width: 2.2rem;
}

.image-container {
    width: 100%;
    height: 30.0rem;
}

.image-container img {
    object-fit: cover;
    width: 100%;
    height: 100%;
};

.next-item-button {
    border-radius: 5.0rem;
}

.lightbox-container {
    display: none;
    width: 100%;
    height: 100%;
    
}

.lightbox-status {
    background-color: white;
    margin-bottom: 2.2rem;
    border-radius: 1.0rem;
    width: 36rem;
    height: 25.5rem;
    box-shadow: 0px 5px 5em 4px #6351515e;
}

.lightbox-header {
    /* background-color: red; */
    width: 100%;
    height: 26%;
}

.lightbox-header-span {
    font-size: 1.6rem;
    font-weight: 700;
    padding: 2.4rem;
    padding-top: 2rem;
}

.lightbox-separator {
    width: 100%;
    height: 0.05rem;
    background-color: lightgray;
}

.lightbox-content {
    width: 100%;
    height: 74%;
}

.lightbox-main-span {
    font-size: 1.6rem;
    font-weight: 700;
    padding-bottom: 1.4rem;
}