.attribution { font-size: 11px; text-align: center; }
.attribution {
    position: fixed;  
    left: 10px;  
    bottom: 5px;  
    right: 10px;   
}
.attribution a { color: hsl(228, 45%, 44%); }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
}

body {
    width: 100%;
    height: 100%;
}

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.align-center {
    align-items: center;
}

.align-end {
    align-items: flex-end
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-around {
    justify-content: space-around;
}

.flex-row {
    flex-direction: row;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

header {
    height: 6.7rem;
    padding: 0rem 1.4rem 0.4rem 1.8rem;
    /* padding-bottom: 8rem;
    padding-left: 14rem;
    padding-right: 14rem; */
}

.hamburger-menu {
    padding: 0.3rem 0.4rem 0.4rem 0.2rem;

    display: block;
    width: 22px;
    height: 21px;
    margin: 0.1rem;

    appearance: none;
    background: none;
    outline: none;
    border: none;
    z-index: 99;
}

.hamburger-menu .bar, .hamburger-menu:after, .hamburger-menu:before {
    z-index: 1;
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background-color: black;
    border-radius: 50px;
    margin: 3px 4.5px;
    transition: 0.4s;
}

.hamburger-menu.active:before {
    transform: rotate(-45deg) translate(-4.5px, 3px);
}

.hamburger-menu.active .bar {
    opacity: 0;
}

.hamburger-menu.active:after {
    transform: rotate(45deg) translate(-5px, -4px);
    
}
.mobile-side-menu {
    position: fixed;
    background-color: white;
    top: 0;
    left: -100%;
    width: 25rem;
    height: 100vh;
    z-index: 98;
    border-right: 1px solid black;
    transition: 0.4s ease-in-out;
}

.mobile-side-menu.active {
    left: 0;
}

.mobile-side-menu ul {
    margin-top: 9.2rem;
    margin-right: 10.5rem;
    gap: 2.35rem;
}

.mobile-side-menu a {
    color: black;
    font-size: 1.8rem;
    font-weight: 700;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}


.logo {
    padding-left: 1.4rem;
    /* background-color: red; */
    /* margin-left: 14.5%; */
}

.header-icons {
    width: 6.8rem;
    height: auto;
    margin-right: 1.0rem;
}

.user-avatar {
    width: 2.5rem;
}

.user-avatar:hover {
    /* border = inside | outline = outside */
    outline: 2px solid orange; 
    border-radius: 5.0rem;
}

.shopping-cart .item-quantity {
    display: none;

    width: 2.0rem;
    height: 1.2rem;
    border-radius: 1.0rem;
    right: 6.5rem;
    top: 1.7rem;
    background-color: orange;
    color: white;
}

.shopping-lightbox {
    padding-top: 0.4rem;
    width: 2.2rem;
}

.image-container {
    width: 100%;
    height: 30.0rem;
}

.product-image {
    object-fit: cover;
    width: 100%;
    height: 100%;
};

.next-item-button {
    border-radius: 5.0rem;
}

.lightbox-container {
    display: none;
    width: 100%;
    height: 100%;   
}

.lightbox-container.active {
    display: flex;
}

.lightbox-status {
    background-color: white;
    margin-bottom: 2.2rem;
    border-radius: 1.0rem;
    width: 36rem;
    height: 25.5rem;
    box-shadow: 0px 5px 5em 4px #6351515e;
}

.lightbox-header {
    /* background-color: red; */
    width: 100%;
    height: 26%;
}

.lightbox-header-span {
    font-size: 1.6rem;
    font-weight: 700;
    padding: 2.4rem;
    padding-top: 2rem;
}

.lightbox-separator {
    width: 100%;
    height: 0.05rem;
    background-color: lightgray;
}

.lightbox-content {
    width: 100%;
    height: 74%;
}

.lightbox-main-span {
    font-size: 1.6rem;
    font-weight: 700;
    padding-bottom: 1.4rem;
}

.cart-items {
    width: 100%;
    height: 100%;
    padding: 7.2% 7% 8.1% 6.2%;
}

.cart-empty {
    width: 100%;
    height: 100%;
}

.cart-content {
    display: none;
    width: inherit;
    height: inherit;
}

.item {
    width: 100%;
    height: 50%;
}

.item-image {
    width: 16%;
    height: 78%;
    border-radius: 5px;
}

.item-info {
    display: flex;
    flex-direction: column;
    gap: 11%;

    font-size: 1.6rem;
    font-weight: 400;

    width: 61%;
    /* margin: 0 5.3%; */
}

.item-name {
    /* width: 180px; */
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}

#total-price {
    padding-left: 2%;
    font-weight: 700;
}

.delete-item-container {
    position: relative;
    width: 13%;
}

.delete-item-icon {
    position: absolute;
    right: 0;
    top: 25%;

    width: 40%;
    height: 26%;
}

.delete-item-icon:hover {
    width: 42%;
    height: 28%;
}

.delete-item-icon:active {
    width: 40%;
    height: 25%;
}

.checkout-button-container {
    width: 100%;
    height: 50%;
}

.checkout-button {
    width: 100%;
    height: 85%;
    border-radius: 10px;
    border: none;
    background-color: hsl(26, 100%, 55%);

    color: white;
    font-size: 1.6rem;
    font-weight: 400;
    
    transition: 0.2s;
}

.checkout-button:hover {
    font-size: 1.7rem;
}

.checkout-button:active {
    background-color: orange;
}


.main-info-container {
    display: flex;
    flex-direction: column;
    padding: 6.5%;
    gap: 0.9rem;
}

.sneaker-company {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.2rem;
    letter-spacing: 0.17rem;
    color: hsl(26, 100%, 55%);
}

.product-name {
    font-weight: 700;
    font-size: 2.8rem;
}

.product-description {
    font-weight: 400;
    font-size: 1.5rem;
    letter-spacing: 0.011rem;
    line-height: 1.8;
}

.product-price {
    display: flex;
    align-items: center;

    padding-top: 3%;
}

.price-container {
    width: 100%;
    display: flex;
    align-items: center;
}

.price-with-discount {
    font-size: 3rem;
    font-weight: 700;
}

.discount-container {
    display: inline;
    margin-left: 8%;
    padding: 3.4px 8.6px;
    background-color: hsl(25, 100%, 94%);
}

.discount {
    font-size: 1.6rem;
    font-weight: 700;
    color: hsl(26, 100%, 55%);
}

.normal-price-container {
    display: flex;

}
.price-without-discount {
    font-size: 1.6rem;
    font-weight: 700;
    text-decoration:  line-through;
}

.product-quantity {

}

.add-item {

}

.item-quantity {

}

.remove-item {

}

.add-to-cart-container {

}